<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{label.pages.student.assignment.document}">Title</title>
</head>
<body>

	<th:block layout:fragment="script">
		
		
	</th:block>
	
	<div layout:fragment="content">
	<div class="page-content-inner">
			<div class="row">
				<div>
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption font-red-sunglo">
								<i class="icon-settings font-red-sunglo"></i> <span
									class="caption-subject bold">Upload Assignment Document</span>
							</div>
							<div class="actions">
								<div class="btn-group">
									<a class="btn btn-sm green btn-outline dropdown-toggle" href="javascript:;"
										data-toggle="dropdown"> Actions <i
										class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li><a th:href="@{/student/assignment}"> <i class="fa fa-eye"></i>My Assignments</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="portlet-body form">
							<span class="label label-danger">Maximum file size is 25MB</span>
							<!--  -->
							<form id="student-assignment-document-dropzone" class="dropzone"	th:object="${studentDocumentDto}" th:action="@{/student/uploadStudentAssignmentDocument(assignmentId=${studentDocumentDto.assignmentId},assignmentStudentId=${studentDocumentDto.assignmentStudentId},id=${studentDocumentDto.id})}"  enctype="multipart/form-data">
								
								<input type="hidden" id="assignmentStudentId" th:field="*{assignmentStudentId}" />
								<input type="hidden" id="assignmentId" th:field="*{assignmentId}" />
								<input type="hidden" id="id" th:field="*{id}" />
								
								<div
									class="dz-default dz-message file-dropzone text-center well col-sm-12">

									<span class="glyphicon glyphicon-paperclip"></span> <span>
										To attach files, drag and drop here</span><br /> <span>OR</span><br />
									<span>Just Click</span>
								</div>

								<!-- this is were the previews should be shown. -->
								<div class="dropzone-previews"></div>
							</form>
							<hr />
							<div th:style="'text-align:right'">
								<button id="student-document-upload-button" class="btn btn-primary">
									<span class="glyphicon glyphicon-upload"></span> Upload
								</button>
							</div>
							<div id="studentAssignmentDocument">
								<div th:if="${document !=null}">
								<h5>Assignment Document :</h5>
								<div class="col-md-6">
									<ul class="list-group">
										<li class="list-group-item list-group-item-info" th:text="${document.name}">
										<i class="fa fa-file-o"	aria-hidden="true"></i>
											 <!-- <a th:href="@{'/teacher/downloadDocument/'}+${documentDto.id}+'/'+${documentDto.assignmentId}" data-toggle="tooltip" data-placement="top" title="Download document" th:text="${documentDto.name}">document name</a> 
											<a href="#" class="btn btn-icon-only red" data-toggle="tooltip"	data-placement="top" title="Delete document"><span	class="glyphicon glyphicon-trash"></span></a> -->
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

</body>
</html>