<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div class="form-group"  th:fragment="assignments" th:unless="${#lists.isEmpty(assignmentInfoDtos)}">
		<!-- <div > -->
			<table id="allAssignmentTable" class="table table-striped table-bordered table-list" cellspacing="0"	width="100%">

								<thead>
									<tr>
										<!-- <th></th> -->
										<th>Title</th>
										<th>Session</th>
										<th><span data-toggle="tooltip" data-placement="top" title="Assignment Status" class="glyphicon glyphicon-stats"></span></th>
										<th><span data-toggle="tooltip" data-placement="top" title="Last Date Of Submission" class="glyphicon glyphicon-time"></span></th>
										<th><span data-toggle="tooltip" data-placement="top" title="No. of Students" class="fa fa-users"></span></th>
										<th><span data-toggle="tooltip" data-placement="top" title="Submitted" class="fa fa-upload"></span></th>
										<th>Time Remains</th>
										<th><span data-toggle="tooltip" data-placement="top" title="Actions" class="icon-wrench"></span></th>
									</tr>
								</thead>
								<tbody th:if="${not #lists.isEmpty(assignmentInfoDtos)}">
									<tr th:each="assignmentInfoDto,rowStat : ${assignmentInfoDtos}">
										<!-- <td th:text="${rowStat.count}">1</td> -->
										<td th:text="${assignmentInfoDto.title}">Title</td>
										<td th:text="${assignmentInfoDto.session}">Session</td>
										
										<td th:class="${assignmentInfoDto.status} ? 'label label-success' : 'label label-info'"  th:if="${assignmentInfoDto.status} == true">Published</td>
										<td th:class="${assignmentInfoDto.status} ? 'label label-success' : 'label label-info'"  th:if="${assignmentInfoDto.status} == false">Saved</td>
										
										<td th:text="${assignmentInfoDto.submitEndDate} ? ${#calendars.format(assignmentInfoDto.submitEndDate,'yyyy-MM-dd hh:mm a')}">Last date of submission</td>
										
										<td th:text="${assignmentInfoDto.totalNumberOfStudent}">No. Of Students</td>
										
										<td th:text="${assignmentInfoDto.totalNumberOfSubmittedStudent}">Submitted</td>

										<td>Time Remains</td>
										<td><a href="#"><span data-toggle="tooltip" data-placement="top" title="Edit Assignment " class="glyphicon glyphicon-pencil"></span></a>
											<a href="#"><span data-toggle="tooltip" data-placement="top" title="Download Assignment " class="fa fa-download"></span></a>
											<a href="#"><span data-toggle="tooltip" data-placement="top" title="Delete Assignment" class="glyphicon glyphicon-trash"></span></a></td>
										
									</tr>
								</tbody>
								
								<tbody th:if="${#lists.isEmpty(assignmentInfoDtos)}">
									<tr>
										<td class="alert alert-warning" align="center" colspan="8">No Assignment Found!</td>
									</tr>
								</tbody>
							</table>
		<!-- </div> -->
	</div>
</body>
</html>