<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    			xmlns:th="http://www.thymeleaf.org"
    			layout:decorator="layouts/main">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{label.pages.home.title}">Title</title>
</head>
<body>

	<div layout:fragment="content">
			<div class="portlet-body">
				<a href="javascript:;" class="icon-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<div>Assignment</div> <span class="badge badge-danger"> 2 </span>
				</a>
			</div>
	</div>

</body>
</html>